<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit level</title>
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="/static/CSS/Admin/editLevel.css">
</head>
<body>

<nav role='navigation'>
    <div id="menuToggle">

        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/quest/admin/index">
                <li>Home</li>
            </a>
            <a href="/quest/admin/mentors">
                <li>Mentors</li>
            </a>
            <a href="/quest/admin/classes">
                <li>Classes</li>
            </a>
            <a href="/quest/admin/levels">
                <li>Pilar of experience</li>
            </a>
            <a href="/quest/admin/logout">
                <li>Log out</li>
            </a>
        </ul>
    </div>
</nav>

<div id="pageInfo">
    <a href="/quest/admin/index"><img id="logoImage" src="/static/IMAGES/logoCodecool.jpg" alt="logo" width="70"
                                      height="70"></a>
</div>

<div class="container">
    {% for level in list %}
        <form id="updateForm" method="POST" action="/quest/admin/updateLevel/{{ level.getLevel() }}"></form>
        <form id="deleteForm" method="POST" action="/quest/admin/deleteLevel/{{ level.getLevel() }}"></form>
        <ul class="item">
            <li class="level">
                <span style="font-size: 35px" style="font-weight: normal">Lvl:</span><br>
                <input class="input" type="number" placeholder="Level" value="{{ level.getLevel() }}"
                       form="updateForm" name="level"/>
            </li>
            <p class="heading">Coolcoin gap:</p>
            <li class="coolcoinGap">
                <input class="input" type="number" placeholder="Coolcoin gap" value="{{ level.getCoolcoinsNeeded() }}"
                       form="updateForm" name="coolcoinGap"/>
            </li>
            <p class="heading">Level title:</p>
            <li class="levelTitle">
                <input class="input" type="text" placeholder="Level title" value="{{ level.getLevelName() }}"
                       form="updateForm" name="levelTitle"/>
            </li>
            <p class="heading">Level description:</p>
            <li class="levelDescription">
                <input class="input" type="text" placeholder="Level title" value="{{ level.getLevelDescription() }}"
                       form="updateForm" name="levelDescription"/>
            </li>
            <li class="editButtonsImage">
                <input type="image" name="deleteLevel" class="deleteButton" src="/static/IMAGES/deleteButton.png"
                       form="deleteForm">
                <a href="/quest/admin/levels"><img class="cancelButton" src="/static/IMAGES/cancelButton.png"
                                                   alt="cancel"></a>
                <input type="image" name="confirmEditLevel" class="confirmButton" src="/static/IMAGES/tickButton.png"
                       form="updateForm">
            </li>
        </ul>
    {% endfor %}
</div>

</body>
</html>