<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="/static/CSS/Admin/editPage.css">
</head>
<body>

<nav role='navigation'>
    <div id="menuToggle">

        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/quest/admin/index">
                <li>Home</li>
            </a>
            <a href="/quest/admin/mentors">
                <li>Mentors</li>
            </a>
            <a href="/quest/admin/classes">
                <li>Classes</li>
            </a>
            <a href="/quest/admin/levels">
                <li>Pilar of experience</li>
            </a>
            <a href="/quest/admin/logout">
                <li>Log out</li>
            </a>
        </ul>
    </div>
</nav>

<div id="pageInfo">
    <a href="/quest/admin/index"><img id="logoImage" src="/static/IMAGES/logoCodecool.jpg" alt="logo" width="70"
                                      height="70"></a>
</div>

<div class="container">
    {% for mentor in list %}
        <form id="updateForm" method="POST" action="/quest/admin/updateMentor/{{ mentor.getAccountId() }}"></form>
        <form id="deleteForm" method="POST" action="/quest/admin/deleteMentor/{{ mentor.getAccountId() }}"></form>
        <ul class="item">
            <li class="avatarImage">
                <img class="avatar" src="/static/IMAGES/mentors/{{ mentor.getAvatarFile() }}" alt="Leniartek">
            </li>
            <li class="fullName">
                <input class="input" type="text" placeholder="Piotr Leniartek" value="{{ mentor.getFullName() }}"
                       form="updateForm" name="fullName"/>

            </li>
            <p class=" heading">E-mail:</p>
            <li class="email">
                <input class="input" type="text" placeholder="Piotr Leniartek" value="{{ mentor.getEmail() }}"
                       form="updateForm" name="email"/>
            </li>
            <p class=" heading">Class:</p>
            <li class="assignedClass">
                <select  name="assignedClass" form="updateForm">
                    <option value="{{ mentor.getClassName() }}">{{ mentor.getClassName() }}</option>
                    {% for class in list2 %}
                        <option value="{{ class.getClassName() }}">{{ class.getClassName() }}</option>
                    {% endfor %}
                </select>
            </li>
            <p class=" heading">About:</p>
            <li class="about">
                <input class="input" type="text" placeholder="Piotr Leniartek" value="{{ mentor.getAbout() }}"
                       form="updateForm" name="about"/>
            </li>
            <li class="editButtonsImage">
                <input type="image" name="deleteMentor" class="deleteButton" src="/static/IMAGES/deleteButton.png"
                       form="deleteForm">
                <a href="/quest/admin/mentors"><img class="cancelButton" src="/static/IMAGES/cancelButton.png"
                                                    alt="cancel"></a>
                <input type="image" name="confirmEditMentor" class="confirmButton" src="/static/IMAGES/tickButton.png"
                       form="updateForm">
            </li>
        </ul>
    {% endfor %}
</div>


</body>
</html>