<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="/static/CSS/Admin/classesPage.css">
</head>
<body>

<nav role='navigation'>
    <div id="menuToggle">

        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/quest/admin/index">
                <li>Home</li>
            </a>
            <a href="/quest/admin/mentors">
                <li>Mentors</li>
            </a>
            <a href="/quest/admin/classes">
                <li>Classes</li>
            </a>
            <a href="/quest/admin/levels">
                <li>Pilar of experience</li>
            </a>
            <a href="/quest/admin/logout">
                <li>Log out</li>
            </a>
        </ul>
    </div>
</nav>

<div id="pageInfo">
    <a href="/quest/admin/index"><img id="logoImage" src="/static/IMAGES/logoCodecool.jpg" alt="logo" width="70"
                                      height="70"></a>
</div>

<div class="container">
    {% for class in list %}
        <form id="updateForm" method="POST" action="/quest/admin/updateClass/{{ class.getClassId() }}"></form>
        <form id="deleteForm" method="POST" action="/quest/admin/deleteClass/{{ class.getClassId() }}"></form>

        <ul class="item">
            <li class="className">
                <input class="input" type="text" placeholder="Class name" value="{{ class.getClassName() }}"
                       form="updateForm"/>
            </li>
            <p class="heading">Mentor:</p>
            <li>
                <input class="input" type="text" placeholder="Assigned Mentor" value="{{ class.getAssignedMentor() }}"
                       form="updateForm"/>
            </li>
            <p class="heading">Number of students</p>
            <li style="text-align: center;">
                {{ class.getNumberOfStudents() }}
            </li>

            <li class="editButtonsImage">
                <input type="image" name="deleteClass" class="deleteButton" src="/static/IMAGES/deleteButton.png"
                       form="deleteForm">
                <a href="/quest/admin/classes"><img class="cancelButton" src="/static/IMAGES/cancelButton.png"
                                                    alt="cancel"></a>
                <input type="image" name="confirmEditClass" class="confirmButton" src="/static/IMAGES/tickButton.png"
                       form="updateForm">
            </li>
        </ul>
    {% endfor %}
</div>

</body>
</html>