<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="/static/CSS/Admin/classesPage.css">
</head>
<body>

<nav role='navigation'>
    <div id="menuToggle">

        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/quest/admin/index">
                <li>Home</li>
            </a>
            <a href="/quest/admin/mentors">
                <li>Mentors</li>
            </a>
            <a href="/quest/admin/classes">
                <li>Classes</li>
            </a>
            <a href="/quest/admin/levels">
                <li>Pilar of experience</li>
            </a>
            <a href="/quest/admin/logout">
                <li>Log out</li>
            </a>
        </ul>
    </div>
</nav>

<div id="pageInfo">
    <a href="/quest/admin/index"><img id="logoImage" src="/static/IMAGES/logoCodecool.jpg"
                                                           alt="logo" width="70" height="70"></a>
</div>
<div id="plusButton">
    <a href="/quest/admin/addLevelPage"><img class="plusButton" src="/static/IMAGES/plusButton.png" alt="add"></a>
</div>

<div class="container">
    {% for level in list %}
    <ul class="item">
        <li class="level">
            <span style="font-size: 15px" style="font-weight: normal">Lvl:</span>
            <span style="font-size: 35px">{{ level.getLevel() }}</span>
        </li>
        <p class="heading">Coolcoin gap:</p>
        <li class="email">
            {{ level.getCoolcoinsNeeded() }}
        </li>
        <p class="heading">Level title:</p>
        <li class="email">
            {{ level.getLevelName() }}
        </li>
        <p class="heading">Level description:</p>
        <li class="email">
            {{ level.getLevelDescription() }}
        </li>

        <li class="editButtonImage"><a href="/quest/admin/editLevelPage/{{ level.getLevel() }}"><img class="editButton" src="/static/IMAGES/wrench.png"
                                                                      alt="edit"></a></li>
    </ul>
    {% endfor %}
</div>

</body>
</html>