<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentors</title>
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="/static/CSS/Admin/mentorsPage.css">
</head>
<body>

<nav role='navigation'>
    <div id="menuToggle">

        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/quest/admin/index">
                <li>Home</li>
            </a>
            <a href="/quest/admin/mentors">
                <li>Mentors</li>
            </a>
            <a href="/quest/admin/classes">
                <li>Classes</li>
            </a>
            <a href="/quest/admin/levels">
                <li>Pilar of experience</li>
            </a>
            <a href="/quest/admin/logout">
                <li>Log out</li>
            </a>
        </ul>
    </div>
</nav>

<div id="pageInfo">
    <a href="../../../templates/admin/indexPage.twig"><img id="logoImage" src="/static/IMAGES/logoCodecool.jpg" width="70" height="70"></a>
</div>
<div id="plusButton">
    <a href="quest/admin/addMentorPage"><img class="plusButton" src="/static/IMAGES/plusButton.png" alt="logo"></a>
</div>

<div class="container">
    {% for mentor in list %}
    <ul class="item">
        <li class="avatarImage"><img class="avatar" src="/static/IMAGES/mentors/{{ mentor.getAvatarFile() }}" alt="Avatar"></li>
        <li class="fullName">
            {{ mentor.getFullname() }}
        </li>
        <p class="heading">E-mail:</p>
        <li class="email">
            {{ mentor.getEmail() }}
        </li>
        <p class="heading">Class:</p>
        <li class="assignedClass">
            {{ mentor.getClassName() }}
        </li>
        <p class="heading">About:</p>
        <li class="about">
            {{ mentor.getAbout() }}
        </li>
        <li class="editButtonImage"><a href="quest/admin/editMentorPage/{{ mentor.getAccountId() }}"><img class="editButton" src="/static/IMAGES/wrench.png"
                                                                   alt="edit"></a></li>
    </ul>
    {% endfor %}
</div>

</body>
</html>